.homeWorks {
    padding-left: 120px;
}

.btnWrap button{
    width: 50px;
}

.affWrapper {
    margin-bottom: 20px;
    margin-left: 50px;
    width: 250px;
}

.affRowWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons {
    width: 80px;
    border-radius: 5px;
}

.btnWrap {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.high {
    background-color: #d27f7f;
}

.middle {
    background-color: #fff47f;
}

.low {
    background-color: #91e791;
}

.all {
    background-color: rgba(52, 232, 197, 0.76);
}

.delBtn {
    width: 30px;
    height: 30px;
    background-color: #d5d5d2;
    border-radius: 100%;
    color: #2f0a54;
    font-weight: bold;
}

