
button {
    transition: color 0.3s;
}


.default {
    border-radius: 5px;
}

.red {
    background: #e55c5c;
    border-radius: 5px;
}

button:hover:enabled {
    transition: transform 0.3s;
    color: #838aa2;
    transform: scale(1.1);
}

button:active:enabled {
    transform: scale(1.0);
}
